.App {
  text-align: center;
}

.content {
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
}

.footer nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.footer a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.grid-item {
  height: 200px;
  background-color: #3498db; /* Substitua pelo código de cor desejado */
}


/* ...seus estilos existentes ... */
.footer a.selected {
  color: black; /* ou qualquer outra cor desejada */
  font-weight: bold; /* ou estilos adicionais desejados para indicar a seleção */
}
/* ...seus estilos existentes ... */
