.App {
  text-align: center;
}

.content {
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer nav {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens do menu se ajustem a telas menores */
  justify-content: center;
  padding: 10px;
}

.footer a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px; /* Ajuste a margem conforme necessário */
}

.footer a img {
  width: 50px; /* Ajuste o tamanho do ícone conforme necessário */
  height: 50px; /* Ajuste o tamanho do ícone conforme necessário */
}

.footer a span {
  margin-top: 5px; /* Ajuste a margem conforme necessário */
}

.footer a.selected {
  color: blue; /* Ajuste a cor conforme necessário */
}

/* Ajustes para telas menores */
@media only screen and (max-width: 600px) {
  .footer a {
    margin: 5px; /* Ajuste de margem para telas menores */
  }
}
