body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.p1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: aquamarine;
    color: black;
}
.p2 {
    height: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: aquamarine;
    color: black;
   
}
.p3{
    display: flex;
    justify-content: right;
}