
.nav_list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  background-color: lightblue;
  padding: 4rem;
  gap: 1rem;
  flex-direction: column;
}

.nav{
  background-color: green;
  padding: 2px;
  flex-grow: 1;
  margin-top: 10rem;
 
}
.nav_list a{
  color: red;
}


.nav_list a:hover,
.nav_list a:focus{
  color: #ccc;
}




.logo{
  background-color: tan;
}


.header{
  padding: 2rem;
  background-color: wheat;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}