*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.image-caintaner{
    width: 400px;
    height: 250px;

}
.image-caintaner img{
    width: 100%;
    height: 100%;
}
